[submodule "api"]
  path = api
  url = https://github.com/ikun2019/js-college-api
[submodule "client"]
  path = client
  url = https://github.com/ikun2019/js-college-client
[submodule "front"]
  path = front
  url = https://github.com/ikun2019/js-college-front